#header {
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 40px;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 640px;
	height: 640px;
	border: none;
}

button {
	margin: auto;
}

.grid {
	border: 1px solid #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
}

.entered {
	background-color: #00a;
}