body {
	line-height: 0;
}

#header {
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 40px;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 640px;
	height: 640px;
	border: none;
}

button {
	margin: auto;
}

.grid {
	border: 1px solid #bbb;
	background-color: #fff;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
}

.entered {
	background-color: #00a;
}

form {
	display: none;
	position: relative;
	float: right;
	margin-right: 160px;
	line-height: 1;
}


form input {
	margin-bottom: 7px;
}