body {
	line-height: 0;
}

#header {
	display: flex;
	position: relative;
	margin: 5px auto;
	margin-bottom: 5px;
	width: 640px;
	height: 40px;
}

.clear {
	margin-right: 5px;
}

#header span {
	margin: 20px 1px 0px 10px;
}

.radio {
	margin-top: 15px;
}

.container {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	width: 640px;
	height: 640px;
	border: none;
	overflow: hidden;
}

.grid {
	border: 1px solid #bbb;
	background-color: #fff;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
}

.entered {
	background-color: #00a;
}

form {
	display: none;
	position: relative;
	float: right;
	margin-right: 150px;
	line-height: 1;
	margin-left: 10px;
	overflow: hidden;
}


form input {
	margin-bottom: 7px;
}